---
import SiteLayout from "../components/SiteLayout.astro";
---

<SiteLayout title="聯絡 | ALL OUT DESIGN" description="查詢報價與聯絡方式。">
  <h1 style="margin:0 0 10px;">聯絡我們</h1>
  <p style="color:#444; line-height:1.7; max-width:720px;">
    你可以用以下方式聯絡我哋
    ，無論係查詢報價、合作事宜，或者其他任何問題，我哋都樂意幫助你！
  </p>

  <ul style="line-height:1.9; color:#333;">
    <li>
      <strong>WhatsApp:</strong>
      <a href="https://wa.me/85253936777" target="_blank" rel="noopener">
        5393 6777
      </a>
    </li>
    <li><strong>Email: </strong>lam@allout.hk</li>
  </ul>
</SiteLayout>
